body {
background-color: black;
}

.section video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.75;
  }

figcaption {
  color: black;
  text-align: left;
  margin: 5px;
}

figcaption span {
  background-color: white;
}

